@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	font-size: 100%;
	font-family: 'Roboto Slab', serif;
	height:100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
	height: 100%;
}

main {
	height: 100%;
  position: relative;
  z-index: 1;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.fixed-bg {
	position: relative;
  min-height: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.bg-1 {
	background-image: url(../images/bg.jpg);
}

.logo {

	display: block;
	background: url(../images/logo.png) center center no-repeat rgba(255,255,255,0.5);
	max-width: 1170px;
	text-align: center;
	text-indent: -99999px;

	padding: 10px 10px 30px 15px;
	margin: 0 auto;
	border: 1px solid gray;
}

section {
	position: relative;
	min-height: 50%;
	padding: 4em 0;
	line-height: 1.6
	/*TODO: box-shadow*/
	z-index: 2;
}
section.color-red {
	background-color: #D84853;
	color: #a6989a;
}
section.color-blue {
	background-color: #0C8CD6;
	color: white;
}
